### LSE Data Analytics Online Career Accelerator

# Practical Activity - Write your first line of code

**You have been approached by a real estate company, Lindstrom & Thomas, to complete some basic data analysis on their sales for the month of December. They've provided you with an incomplete table, containing the property ID, the sales price, the commission, and the property price for the entire month.**

In [1]:
# This is my first line of code
print("my name is Dhruval")
print("the date is 14/04/2025")

my name is Dhruval
the date is 14/04/2025

In [2]:
# Write a program to analyse real estate data

In [9]:
# Create Variables
a = 45000
b = 23400
c = 67000
d = 34600
e = 12900

# Add all the sales together
total_sales = a + b + c + d + e

# View the output
print(total_sales)

182900

In [10]:
# Average sales for the month december
average_sales = total_sales / 5
print(average_sales)

36580.0

In [11]:
# Find the sale price for property C
property_price_c = (c - 6500)
print(property_price_c)

60500